In [1]:
import glob
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import KFold,StratifiedKFold

# Make Dataset Fromat

In [3]:
classes= {
    'buildings': 0,
    'forest':    1,
    'glacier':   2,
    'mountain':  3,
    'sea':       4,
    'street':    5,
}

all_image_path= glob.glob('dataset/train/**/*.jpg')
df= pd.DataFrame(columns=('image_path', 'label', 'fold'))
df['image_path']= all_image_path
df['label']= [ classes[path.split('\\')[-2]] for path in all_image_path ]
df

                              image_path  label fold
0          dataset/train\buildings\0.jpg      0  NaN
1      dataset/train\buildings\10006.jpg      0  NaN
2       dataset/train\buildings\1001.jpg      0  NaN
3      dataset/train\buildings\10014.jpg      0  NaN
4      dataset/train\buildings\10018.jpg      0  NaN
...                                  ...    ...  ...
14029      dataset/train\street\9961.jpg      5  NaN
14030      dataset/train\street\9967.jpg      5  NaN
14031      dataset/train\street\9978.jpg      5  NaN
14032      dataset/train\street\9989.jpg      5  NaN
14033       dataset/train\street\999.jpg      5  NaN

[14034 rows x 3 columns]

In [4]:
df['label'].value_counts()

3    2512
2    2404
5    2382
4    2274
1    2271
0    2191
Name: label, dtype: int64

In [5]:
kf= StratifiedKFold(n_splits=5, random_state=123, shuffle=True)
for i, (train_index, test_index) in enumerate(kf.split(df['image_path'], df['label'])):
    for indx in test_index:
        df.loc[indx, 'fold']= i

In [6]:
df.to_csv('./dataset/train.csv', index= False)